<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.bisitanorte">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BisitaNorte">
        <activity
            android:name=".VacationStatus"
            android:exported="false" />
        <activity
            android:name=".SpotDetails"
            android:exported="false" />
        <activity
            android:name=".HotelDetails"
            android:exported="false" />
        <activity
            android:name=".CarRentalAvailable"
            android:exported="false" />
        <activity
            android:name=".Payment"
            android:exported="false" />
        <activity
            android:name=".Trips"
            android:exported="false" />
        <activity
            android:name=".ThingsToDo"
            android:exported="false" />
        <activity
            android:name=".CarRental"
            android:exported="false" />
        <activity
            android:name=".Hotels"
            android:exported="false" />
        <activity
            android:name=".Spots"
            android:exported="false" />
        <activity
            android:name=".Settings"
            android:exported="false" />
        <activity
            android:name=".AddNewCard"
            android:exported="false" />
        <activity
            android:name=".MyCards"
            android:exported="false" />
        <activity
            android:name=".NewMessage"
            android:exported="false" />
        <activity
            android:name=".More"
            android:exported="false" />
        <activity
            android:name=".Messages"
            android:exported="false" />
        <activity
            android:name=".Booking"
            android:exported="false" />
        <activity
            android:name=".Save"
            android:exported="false" />
        <activity
            android:name=".ActivityIntro"
            android:exported="false" />
        <activity
            android:name=".HomeIntro"
            android:exported="false" />
        <activity
            android:name=".Loading"
            android:exported="false" />
        <activity
            android:name=".Create_Acc"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>